{% extends "bootstrap/base.html" %}}

{% block html_attribs %} lang='zh-CN' {% endblock html_attribs %}
{% block head %}
	<meta charset="UTF-8" />
	<meta name="author" content="Ggzzhh" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{ super() }}
	<style>
		body {
			padding-top: 70px;
		}
		.profile-thumbnail {
			position: absolute;
		}
		.profile-header {
			min-height: 260px;
			margin-left: 280px;
		}
	</style>
	<script src="{{ url_for('static', filename='jquery.min.js') }}">
	</script>
{% endblock head %}

{% block navbar %}
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar-1"
								aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"></a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-1">
				<ul class="nav navbar-nav">
					<li><a href="/">主页</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

					{% if current_user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								个人 <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('main.user',
						username=current_user.username) }}">
									个人中心</a></li>
								<li><a href="{{ url_for('auth.change_password')
												}}">修改密码</a></li>
								<li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
								{% if current_user.is_administrator() %}
									<li><a href="{{ url_for('main.edit_profile_admin',
										id=current_user.id) }}">管理用户</a></li>
								{% endif %}
								<li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href="{{ url_for('auth.login') }}">登 录</a></li>
						<li><a href="{{ url_for('auth.register') }}" >注 册</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container pad-top">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		{% block page_content %}{% endblock page_content%}
	</div>


	<script>
      $(function () {
          $('li.dropdown').mouseover(function() {
              $(this).addClass('open');
          }).mouseout(function() {
              $(this).removeClass('open');
          });
      })
	</script>
{% endblock content %}
