{% extends "bootstrap/base.html" %}}
{% import 'bootstrap/wtf.html' as wtf %}

{% block html_attribs %} lang='zh-CN' {% endblock html_attribs %}
{% block head %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{ super() }}
	<style>
		body {
			padding-top: 70px;
		}
	</style>
<script src="{{ url_for('static', filename='jquery.min.js') }}">
</script>
{% endblock head %}

{% block content %}
	<div class="container pad-top">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		{% block page_content %}
		{% endblock page_content%}
	</div>

{% endblock %}
